html, body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  margin: 0 auto;
  background-color: black;
  width: 960px;
}
header {
  display: flex;
  align-items: center;
  width: 100%;

  border: 1px solid red;
  margin: 0 auto;

}
header span {
  margin: 0.66rem 1rem;
  font-size: 1rem;
  border: 1px solid blue;
}
header img {
  margin-left: 0.5rem;
  border: 1px solid deeppink;
  height: 1.5rem;
}
/*  here starts the nain content  */
main {
  height: auto;
  width: 100%;
  margin: 0 auto;
  border: 1px solid white;
}

/* starting "banner"  */

.banner {                /*   parent is "main" tag  */
  display: block;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  border: 1px solid aqua;
}
.banner h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;

  text-align: left;
  border: 1px solid orchid;
}
.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.banner-text {
  display: block;
  width: 20rem;

  border: 1px solid red;
  background-color: black;
  margin-top: 9rem;
  margin-left: 6rem;
}
/*  navigation starts here */
#categories {     /*  parent is "main" tag  */
  display: flex;
  max-width: 100%;
  background-color: firebrick;
}
#categories ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  border: 1px solid forestgreen;
  justify-content: space-around;
  text-align: center;
  margin: 0 10%;
}
#categories li {
  display: inline-flex;
  margin: 0.75rem auto;
  max-width: 100%;
  border: 1px solid hotpink;
  padding: 0 10px;
  text-align: center;
  font-size: 1.25rem;
}

/*  here starts the "products" section  */

.products {
  border: 1px solid springgreen;
  background-color: white;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;

}
.box {
  display: flex;
  flex-flow: column wrap;
  border: 3px solid black;
  min-width: 250px;
  max-height: 300px;
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin: 4%;
}
.img-container {
  display: flex;
  border: 2px solid deeppink;
  width: 250px;
  height: 250px;
}
.box img {
  width: 60%;
  height: auto;
  margin: auto;
}
.box h3 {
  background-color: black;
  border: 1px solid blue;
  padding: 5%;
}
/*  here starts the "info" section  */
.info {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid aqua;
  background-color: white;
  width: 100%;
  height: auto;
  color: black;
  font-size: 1.25rem;
}
.locations, .hours {
  width: 250px;
  border: 1px solid red;
  font-size: 0.8em;
  margin: 5% 10%;
}
.locations h3, .hours h3 {
  background-color: black;
  color: white;
  padding: 7%;
}
.locations p, .hours p {
  padding: 6% 0;

}
/* begining "footer"  */
footer {
  height: auto;
  width: 60%;
  border: 1px solid red;
  margin: 0 auto;
}
footer p {
  padding: 5% 10%;
}
@media only screen and (max-width: 480px) {
  header span {
    font-size: 75%; /*  or instead "0.75erm"  */
  }
}
