html, body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  background-color: black;
  width: 100%;

}
header {
  display: flex;
  align-items: center;
  max-width: 60%;
  height: 50px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 20px 0;
}
header span {
  margin: auto 10px;
  font-size: 1.25rem;
  border: 1px solid blue;
}
header img {
  margin-left: 10%;
  border: 1px solid deeppink;
  max-height: 50%;
}
/*  here starts the nain content  */
main {

  height: auto;
  width: 60%;
  margin: 0 auto;
  border: 1px solid white;
}
.banner {                /*   parent is "main" tag  */
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid aqua;
}
.banner h3, .banner h1 {
  font-weight: bold;
  max-width: 300px;
  max-height: 100%;
  line-height: 35px;
  margin-left: 10%;
  text-align: left;
  border: 1px solid orchid;
}
.banner h1 {
  font-size: 1.75rem;
  margin-top: 3%;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 30%;
  height: 40%;
  border: 1px solid red;
  background-color: black;
  margin: auto 10% auto 10%; /* can't seem to center it with "auto"  */
}
/*  navigation starts here */
#products {     /*  parent is "main" tag  */
  display: flex;
  width: 100%;
  background-color: #b00024;
}
#products ul {
  display: flex;
  width: 100%;
  list-style: none;
  border: 1px solid forestgreen;
  justify-content: space-around;
  text-align: center;
  margin: 0 10%;
}
#products li {
  display: inline-flex;
  margin: 0 auto;
  max-width: 100%;
  display: inline-flex;
  border: 1px solid hotpink;
  padding: 2% 2%;
  margin: 0 0;
  font-size: 1.25rem;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  header span {
    font-size: 75%; /*  or instead "0.75erm"  */
  }
}
