html, body {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
=======
  font-family: Helvetica, sans-serif;
  font-size: 18px;
>>>>>>> 7a7ed0fb9c750752674f43ce612301e6645245e9
  color: white;
  margin: 0 auto;
  background-color: black;
  width: 960px;
}
header {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  max-width: 60%;
  height: 50px;
=======
  width: 100%;

  border: 1px solid red;
>>>>>>> 7a7ed0fb9c750752674f43ce612301e6645245e9
  margin: 0 auto;

}
header span {
<<<<<<< HEAD
  margin: auto 10px;
  font-size: 1.25rem;
}
header img {
  margin-left: 10%;
  max-height: 50%;
=======
  margin: 0.66rem 1rem;
  font-size: 1rem;
  border: 1px solid blue;
}
header img {
  margin-left: 0.5rem;
  border: 1px solid deeppink;
  height: 1.5rem;
>>>>>>> 7a7ed0fb9c750752674f43ce612301e6645245e9
}
/*  here starts the nain content  */
main {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

/* starting "banner"  */

.banner {                /*   parent is "main" tag  */
  display: block;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 25rem;
  margin: 0 auto;
}
.banner h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;

  text-align: left;
  font-size: 1.25rem;
}
.banner h1 {
  font-size: 2rem;
<<<<<<< HEAD
  margin-top: 3%;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 30%;
  height: 40%;
  background-color: black;
  margin: auto 10% auto 10%;
=======
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.banner-text {
  display: block;
  width: 20rem;

  border: 1px solid red;
  background-color: black;
  margin-top: 9rem;
  margin-left: 6rem;
>>>>>>> 7a7ed0fb9c750752674f43ce612301e6645245e9
}
/*  navigation starts here */
#categories {     /*  parent is "main" tag  */
  display: flex;
  max-width: 100%;
  background-color: firebrick;
}
#categories ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  margin: 0 10%;
}
#categories li {
  display: inline-flex;
  margin: 0.75rem auto;
  max-width: 100%;
<<<<<<< HEAD
  padding: 10px;
=======
  border: 1px solid hotpink;
  padding: 0 10px;
>>>>>>> 7a7ed0fb9c750752674f43ce612301e6645245e9
  text-align: center;
  font-size: 1.25rem;
}
#categories li:first-child {
  display: none;
}
/*  here starts the "products" section  */

.products {
  background-color: white;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;

}
.box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 3px solid black;
  min-width: 30%;
  max-height: 35%;
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin: 4%;
}
.img-container {
  display: flex;
  width: 250px;
  height: 250px;
}
.box img {
  width: 70%;
  height: auto;
  margin: auto;
  border: 1px solid green;
}
.box h3 {
  background-color: black;
  padding: 5%;
  width: 100%;
}
/*  here starts the "info" section  */
.info {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: auto;
  color: black;
  font-size: 1.25rem;
}
.locations, .hours {
  width: 300px;
  font-size: 0.8em;
  margin: 5% 10%;
}
.locations h3, .hours h3 {
  background-color: black;
  color: white;
  padding: 7%;
}
.locations p, .hours p {
  padding: 6% 0;

}
/* begining "footer"  */
footer {
  height: auto;
  width: 60%;
  margin: 0 auto;
}
footer p {
  padding: 5% 10%;
}

/* for tablets & screens smaller than 1024px  */

@media only screen and (max-width: 1024px) {
  header, main, footer {
    width: 100%;
  }
  header img, header {
    margin-left: 10px;
  }
  .banner-text {
    width: 60%;
  }
  .banner h1 {
    font-size: 2.25rem;
    max-width: 80%;
    line-height: 2.85rem;
  }
  .banner h3 {
    font-size: 1.5rem;
    max-width: 80%;
  }
  #categories li {
    display: none;
  }
  #categories li:first-child {
    display: flex;
  }
  .products {
    justify-content: space-between;
  }
  .box {
    width: 47%;
    margin: 3rem 0;
  }
  .box img {
    width: 80%;
  }
  .info {
    justify-content: space-between;
  }
  .locations, .hours {
    width: 35%;
    margin: 5% 0;
  }
  footer {
    width: 100%;
  }
}

/*  targeting phones and small screens  */

@media only screen and (max-width: 480px) {
  header, main, footer {
    width: 100%;
  }
  header span {
    font-size: 75%; /*  or instead "0.75erm"  */
  }
  .banner {
    align-items: flex-end;
    height: 15rem;
  }
  .banner-text {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    margin: 0;
  }
  .banner h1 {
    font-size: 1rem;
    line-height: normal;
    width: 100%;
    margin: 0;
    }
  .banner h3 {
    font-size: 0.77rem;
    width: 100%;
    margin: 0;
  }
  header {
    width: 100%;
  }
  header span {
    display: none;
  }
  header img {
    margin: 0 auto;
  }
  .products {
    justify-content: center;
  }
  .box {
    width: 90%;
    margin: 3rem 0;
  }
  .box img {
    width: 80%;
  }
  .info {
    justify-content: center;
  }
  .locations, .hours {
    width: 90%;
    margin: 5% 0;
  }
  footer p {
    margin: 0 auto;
    text-align: center;
  }
}
